<h1>Bienvenido! </h1>
<input type="text" id="send-chat" placeholder="Ingrese un producto">
<button id="send-button-chat" >Enviar</button>
<div id="contenedor-chat"></div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>
<script src="/css/homeStyles.css"></script>